  <div class="ui four column middle aligned very relaxed stackable grid login">
    <div class="column">
      <div class="ui form">
        <h3>Login</h3>
        {{#compare msg.mod '==' "login"}}
        <div class="ui message visible {{msg.type}}">{{msg.msg}}</div>
        {{/compare}}
        <form class="ui form loginform" method="post" action="/login">
          <div class="field">
            <label>Username</label>
            {{#if username}}
            <input name="username" placeholder="Username" type="text" autocomplete="off" value="{{username}}">
            {{else}}
            <input name="username" placeholder="Username" type="text" autocomplete="off" value="amit">
            {{/if}}
          </div> 
          <div class="field">
            <label>Password</label>
            {{#if password}}
            <input name="password" placeholder="Password" type="password" value="{{password}}">
            {{else}}
            <input name="password" placeholder="Password" type="password" value="amit">
            {{/if}}
          </div>
          <input type="hidden" name="action" value="login">
          <button class="ui button green" type="submit">Login</button><br>
          <p>Not  a member? <a href="/register">Register</a> now</p>
          <input type="button" onclick="window.location='http://localhost:3000/login/p/p'" value="Refresh">
        </form>
      </div>
    </div>
    <div class="ui vertical divider">
      Or
    </div>
    <div class="column">
      <h3>Register</h3>
      {{#compare msg.mod '==' "register"}}
      <div class="ui message visible {{msg.type}}">
        {{{msg.msg}}}       
      </div>
      {{/compare}}      
      <form class="ui form" method="post" action="/login">
        <div class="field">
          <label>Display Name</label>
          <input name="name" placeholder="Display Name" type="text" autocomplete="off" value="">
        </div> 
        <div class="field">
          <label>Username</label>
          <input name="username" placeholder="Username" type="text" autocomplete="off" value="">
        </div> 
        <div class="field">
          <label>Password</label>
          <input name="password" placeholder="Password" type="password" value="">
        </div>        
        <div class="field">
          <label>Profile Pic</label>
                    
            <div class="ui inline dropdown">
              <input value="1" name="profilepic" type="hidden">
              <div class="text">
                <img class="ui avatar image" src="https://randomuser.me/api/portraits/men/1.jpg">
              </div>
              <i class="dropdown icon"></i>
              <div class="menu ppic">
 
              </div>
            </div>          
        </div>
        <input type="hidden" name="action" value="register">
        <button class="ui button teal" type="submit">Register</button><br>
      </form>
    </div>
  </div> 

<script>
  $().ready(function(){
    $(".loginform").submit();
    $('.dropdown').dropdown();     
  })
</script>


